node_modules
.idea
yarn-error.log
.DS_Store
docs/.vitepress/dist/
docs/.vitepress/cache/
docs/Mega
docs/private
docs/Journal
docs/Youtube
docs/Personal
# macOS metadata
.DS_Store
**/.DS_Store
._.DS_Store
**/._.DS_Store
._*
