:root {
    --vp-c-brand: #FF00FB;
    --vp-c-brand-light: #747bff;
    --vp-c-brand-dark: #a518a3;
}

.search-text {
    background: #1a1a1a;
}

@media(max-width: 600px) {
    .search-text {
        font-size: 9px;
        padding: 3px 14px;
    }
}

.modal {
    min-width: initial;
    max-width: 95vw;
}


[alt="overment-photo"] {
    margin: 0 auto 25px;
    display: block;
    width: 150px;
}

[alt="avatar"] {
    width: 150px;
    border: 1px solid #1a1a1a;
    border-radius: 3px;
}

[alt="easy_"] {
    max-width: 375px;
}
