:root {
    --vp-c-brand: #FF00FB;
    --vp-c-brand-light: #747bff;
}


[alt="overment-photo"] {
    margin: 0 auto 25px;
    display: block;
    width: 150px;
}

[alt="avatar"] {
    width: 150px;
    border: 1px solid #1a1a1a;
    border-radius: 3px;
}
