@import "./tailwind.css";

:root {
  --vp-c-brand-1: #ff00fb;
  --vp-c-brand-2: #ff00fb;
  --vp-c-brand-3: #ff00fb;
  --vp-c-brand-soft: rgba(255, 0, 251, 0.14);
}

.dark {
  --vp-c-brand-1: #ff00fb;
  --vp-c-brand-2: #ff52fc;
  --vp-c-brand-3: #c200bf;
  --vp-c-brand-soft: rgba(255, 0, 251, 0.14);
}

.search-text {
  background: #1a1a1a;
}

@media (max-width: 600px) {
  .search-text {
    font-size: 9px;
    padding: 3px 14px;
  }
}

.modal {
  min-width: initial;
  max-width: 95vw;
}

[alt="overment-photo"] {
  margin: 0;
  display: block;
  width: 95px;
  border-radius: 8px;
  border: 1px solid #696969;
}

[alt="avatar"] {
  width: 150px;
  border: 1px solid #1a1a1a;
  border-radius: 3px;
}

[alt="easy_"] {
  max-width: 375px;
}

[alt="Alice"] {
  margin: 0 auto 25px;
  display: block;
  width: 150px;
}
